// 색상과 관련 된 상수만 들어와야 한다.

$black: #000000;
$dark: #191a20; // 중요한 정보
$primary: #3f4150; // 대부분의 글자 색상
$secondary: #8c8d96; // 덜 중요한 글자 색상
$tertiary: #b2b3b9; // 검색 창의 "검색" 같은 희미한 글자 색상
$border: #e0e2e7; // 2. 흰색 두 번째로 밝은 색은 대부분 border에 쓰이더라
$background: #f7f8fa; // 1. 흰색보다 첫 번째로 밝은 색은 대부분 배경에 쓰이더라
$white: #ffffff;

$blue: #3da5f5;
$blue-dark: #ecf6fe;
$blue-light: #3186c4;

$red: #f86d7d;
$green: #22c58b;
